* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}
a,
a:focus,
button,
button:focus,
input,
input:focus,
img,
img:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
textarea {
  resize: none;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.clearfix::after,
.row::after,
.clearfix::before,
.row::before {
  clear: both;
  display: block;
  content: '';
}
.p5 {
  padding: 5px;
}
.p5-10 {
  padding: 5px 10px;
}
.p-10 {
  padding: 10px;
}
.py-10 {
  padding: 10px 0;
}
.py-15 {
  padding: 15px 0;
}
.py-20 {
  padding: 20px 0;
}
.py-30 {
  padding: 30px 0;
}
.py-50 {
  padding: 50px 0;
}
.py-60 {
  padding: 60px 0;
}
.py-80 {
  padding: 80px 0;
}
.py-100 {
  padding: 100px 0;
}
.py-150 {
  padding: 150px 0;
}
.py-200 {
  padding: 200px 0;
}
.px-15 {
  padding: 0 15px;
}
.px-20 {
  padding: 0 20px;
}
.px-30 {
  padding: 0 30px;
}
.px-60 {
  padding: 0 60px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pt-100 {
  padding: 100px 0 0;
}
.my-15 {
  margin: 15px 0;
}
.my-20 {
  margin: 20px 0;
}
.my-30 {
  margin: 30px 0;
}
.my-50 {
  margin: 50px 0;
}
.my-100 {
  margin: 100px 0;
}
.mx-70 {
  margin: 0 70px;
}
.mt-200 {
  margin: 200px 0 0;
}
.top0 {
  top: 0;
}
.top-100 {
  top: -100%;
}
.left0 {
  left: 0;
}
.left-100 {
  left: -100%;
}
.left-150 {
  left: -150%;
}
.right0 {
  right: 0;
}
.right-100 {
  right: -100%;
}
.right-150 {
  right: -150%;
}
.w-1170 {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.w-75 {
  width: 75%;
}
.w-70 {
  width: 70%;
}
.w-80 {
  width: 80%;
}
.w-95 {
  width: 95%;
}
.no-display {
  display: none;
}
.no-display-important {
  display: none !important;
}
.activeClass {
  display: block;
}
.rotate {
  transform: rotateY(180deg);
}
@font-face {
  font-family: OpenSans;
  src: url(../css/fonts/OpenSans-Regular.ttf);
}
body {
  font-family: OpenSans;
  font-size: 13px;
}
.no_display {
  display: none;
}
/***********  HEADER  ***********/
#main_container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
#header {
  overflow: hidden;
  background: url("../img/1-Home-background.jpg");
  background-position: center;
}
.corner {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  bottom: 0;
}
.corner_left {
  border-color: transparent transparent transparent #fff;
  border-width: 200px 0 0 963px;
  left: 0;
}
.corner_right {
  border-width: 0 0 200px 963px;
  border-color: transparent transparent #fff transparent;
  right: 0;
}
#nav_menu li {
  color: #fff;
  font-size: 1.3em;
  cursor: pointer;
}
#nav_menu li:hover {
  color: #33ffff;
}
#nav_menu a {
  color: #fff;
}
#nav_menu a:hover {
  color: #33ffff;
}
#person_name h1,
#person_name h2 {
  color: #fff;
}
#person_name h2 {
  font-size: 5em;
}
#person_name h1 {
  font-size: 6em;
}
#person_name span {
  font-size: 2.5em;
  color: #33ffff;
  font-weight: normal !important;
}
.here_me {
  color: #fff;
  font-size: 2.5em;
  border: 2px solid #fff;
  display: block;
  margin: 0 auto 50px auto;
}
.here_me:hover {
  color: #33ffff;
  border-color: #33ffff;
}
.social {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  overflow: hidden;
}
.social_icons_wrapper {
  transition: 1s ease;
  -webkit-transition: 1s ease;
  position: relative;
  right: -70%;
  cursor: pointer;
  z-index: 10;
}
.social-visible {
  right: 0;
}
.social_icons {
  background-color: #000;
  border-radius: 15px 0 0 15px;
}
.social_icons i {
  color: #33ffff;
  padding-top: 2px;
}
.fb_wrapper {
  flex-wrap: wrap;
  justify-content: stretch;
}
.follow_me {
  background-color: #fff;
  border: 1px solid #000;
  transition: width 3s;
  -webkit-transition: width 3s;
}
.js_filter_btn {
  right: 2%;
  top: 50%;
  transform: translate(0, -50%);
}
.js_filter_btn i {
  color: #fff;
}
.js_filter_btn:hover i {
  color: #33ffff;
}
/******* ABOUT ME SECTION *********/
#about_me {
  overflow: hidden;
}
#about_me h3 {
  font-size: 2.5em;
}
#about_me p {
  font-size: 1.2em;
}
#about_me .corner_left {
  border-color: transparent transparent transparent #000;
}
#about_me .corner_right {
  border-color: transparent transparent #000 transparent;
}
.about_me_wrapper {
  padding: 100px 30px;
}
.about_me_description,
#js-skills {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}
.skills_scale {
  height: 10px;
  background-color: #c8c8c8;
}
.scale_value {
  height: 10px;
  background-color: #33ffff;
  width: 0;
}
/******* MY WORK SECTION *********/
#my_work {
  background-color: #000;
}
#my_work > div {
  padding: 100px 30px;
}
#my_work h3 {
  color: #fff;
}
#my_work .js_filter_btn {
  top: -10px;
}
#my_work .corner_left {
  border-color: transparent transparent transparent #fff;
}
#my_work .corner_right {
  border-color: transparent transparent #fff transparent;
}
#my_work li {
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
}
#my_work li:hover {
  color: #33ffff;
}
#my_work .hex_content {
  transition: 3s cubic-bezier(0.43, 0.87, 0.25, 1);
  -moz-transition: 3s cubic-bezier(0.43, 0.87, 0.25, 1);
  -webkit-transition: 3s cubic-bezier(0.43, 0.87, 0.25, 1);
}
#my_work .hex_wrapper {
  transition: 2s cubic-bezier(0, -0.29, 0.36, 1.01);
  -moz-transition: 3s cubic-bezier(0, -0.29, 0.36, 1.01);
  -webkit-transition: 3s cubic-bezier(0, -0.29, 0.36, 1.01);
}
#my_work .hex_wrapper:hover {
  background-color: transparent;
}
#my_work .hex_wrapper:hover .hex_content {
  transform: rotateY(180deg);
}
.hexagon {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
.hexagon:hover .hex_hover {
  background-color: rgba(51, 255, 255, 0.5);
  color: #fff;
  height: 100%;
  cursor: pointer;
}
.hexagon_container > div {
  margin-bottom: 28.85%;
}
.hex_wrapper {
  background-color: #fff;
  padding: 3px;
  width: 50%;
}
.hex_center {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 75%;
  width: 50%;
}
/******* WORKFLOW SECTION *********/
#workflow > div {
  padding: 100px 30px;
}
#workflow .hex_rotate {
  background-color: #818b9b;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  top: 0;
  bottom: 0;
  z-index: 0;
  transition: 3s cubic-bezier(0.56, 0.49, 0, 1);
  -webkit-transition: 3s cubic-bezier(0.56, 0.49, 0, 1);
}
#workflow .hex_rotate span {
  transform: rotateY(180deg);
  color: #33ffff;
  font-size: 1.2em;
  text-align: center;
}
#workflow .hex_wrapper {
  padding: 5px;
  width: 100%;
  background-color: #33ffff;
}
#workflow .hex_wrapper:hover .hex_content {
  transform: rotateY(-180deg);
}
#workflow .hex_wrapper:hover .hex_content img {
  z-index: 0;
}
#workflow .hex_wrapper:hover .hex_rotate {
  z-index: 2;
}
#workflow .hex_content {
  transition: 3s cubic-bezier(0.56, 0.49, 0, 1);
  -webkit-transition: 3s cubic-bezier(0.56, 0.49, 0, 1);
  overflow: hidden;
}
#workflow .hex_content img {
  transition: 3s cubic-bezier(0.56, 0.49, 0, 1);
  -webkit-transition: 3s cubic-bezier(0.56, 0.49, 0, 1);
  z-index: 1;
}
.work_process_content {
  overflow: hidden;
}
.process_title {
  transition: 0.5s cubic-bezier(0.56, 0.49, 0, 1);
  -webkit-transition: 1s cubic-bezier(0.56, 0.49, 0, 1);
}
.normal_row {
  flex-wrap: wrap;
  justify-content: stretch;
}
.reverse_row {
  flex-direction: row-reverse;
}
.process_description {
  justify-content: center;
  flex-direction: column;
  transition: 1s cubic-bezier(0.56, 0.49, 0, 1);
  -webkit-transition: 1s cubic-bezier(0.56, 0.49, 0, 1);
}
.process_description p {
  font-size: 1.3em;
}
.line {
  left: 50%;
  transform: translate(0, -50%);
  background: #8c8c8c;
}
.line_vertical {
  height: 30px;
  width: 1px;
  transition: 1.2s height;
  -webkit-transition: 1s cubic-bezier(0.56, 0.49, 0, 1);
}
.line_vertical_upper {
  visibility: hidden;
}
.line_vertical_bottom {
  visibility: hidden;
}
.line_horizontal {
  width: 0;
  bottom: 15px;
  background: #8c8c8c;
  transition: 1s ease;
  -webkit-transition: 1s ease;
}
.line_horizontal50 {
  width: 50%;
}
.line_horizontal90 {
  width: 90.2%;
}
.line_horizontal100 {
  width: 100%;
}
.line_horizontal_left {
  left: 15%;
}
.line_horizontal_right {
  right: -5.3%;
}
/******* TESTIMONIAL SECTION *********/
#testimonial {
  padding: 250px 30px;
  background-color: #000;
}
#testimonial h3 {
  color: #fff;
}
.corner_upper {
  top: 0;
  transform: rotateX(180deg);
}
.client_img:hover .border_half_top,
.client_img:hover .border_half_bottom {
  width: 50%;
  height: 5%;
}
.client_img:hover .border_half_left,
.client_img:hover .border_half_right {
  width: 5%;
  height: 50%;
}
.slick-dots li {
  background-color: #33ffff;
  width: 30px;
}
.slick-slide {
  visibility: hidden;
}
.slick-active {
  visibility: visible;
}
.slick-arrow {
  position: absolute;
  font-size: 0;
  border-radius: 50%;
  border: 2px solid #33ffff;
}
.slick-arrow::before {
  font-family: "FontAwesome";
  font-size: 30px;
  color: #33ffff;
  padding: 5px 10px;
}
.slick-arrow:hover {
  background-color: #818b9b;
}
.slick-next {
  position: absolute;
  right: 0;
  bottom: 0;
}
.slick-next::before {
  content: "\f061";
}
.slick-prev::before {
  content: "\f060";
}
.slick-current {
  left: 0 !important;
}
.slick-active:nth-child(3n+6) {
  right: 0 !important;
}
.slick-active:nth-child(3n+2) {
  bottom: 0 !important;
}
.testimonial_description {
  max-width: 250px;
}
#testimonial_slider {
  overflow: hidden;
  max-height: 1070px;
}
#testimonial_slider .slick-prev {
  bottom: 0;
}
.testimonial_slide {
  color: #fff;
  transition: 2s ease;
  -webkit-transition: 2s ease;
}
.testimonial_slide:nth-child(6n+4) {
  margin-left: -9px;
}
.testimonial_slide:nth-child(6n+5) {
  margin-top: 200px;
  margin-left: -50px;
}
.testimonial_slide:nth-child(6n+6) {
  margin-top: 400px;
  margin-left: -50px;
}
.testimonial_slide:nth-child(6n+7) {
  margin-top: 400px;
  margin-left: 85px;
}
.testimonial_slide:nth-child(6n+8) {
  margin-top: 200px;
  margin-left: -55px;
}
.testimonial_slide:nth-child(6n+8) .testimonial_description {
  margin-left: 70px;
}
.testimonial_slide:nth-child(6n+9) {
  margin-left: -55px;
}
.testimonial_slide:nth-child(6n+9) .testimonial_description {
  margin-left: 70px;
}
.testimonial_slide:nth-child(3n+2) {
  bottom: 2000px;
}
.testimonial_slide:nth-child(3n+4) {
  left: -100%;
}
.testimonial_slide:nth-child(3n+6) {
  right: -100%;
}
.testimonial_slide span {
  font-size: 3em;
  color: #33ffff;
}
.testimonial_slide p {
  font-size: 1em;
}
.client_img {
  max-width: 350px;
}
.client_img:hover {
  z-index: 10;
}
.half_border {
  height: 0;
  width: 0;
  background-color: #33ffff;
  transition: width 1s, height 1s;
  -webkit-transition: width 1s, height 1s;
  z-index: 10;
}
.border_half_top,
.border_half_left {
  top: -10px;
  left: -10px;
}
.border_half_right,
.border_half_bottom {
  bottom: -10px;
  right: -10px;
}
/******* SERVICES SECTION *********/
#services h5 {
  color: #000;
}
#services .corner_left {
  border-color: transparent transparent transparent #000;
}
#services .corner_right {
  border-color: transparent transparent #000 transparent;
}
#services .services_container {
  padding: 150px 30px;
}
#services #services_slider {
  overflow: hidden;
  max-height: 900px;
}
#services .services_slide {
  color: #000;
  left: 100%;
  margin: 15px;
}
#services .services_slide p {
  font-size: 1.1em;
}
#services .services_slide:nth-child(3n+2) {
  margin-top: 200px;
  transition: 1.5s ease;
  -webkit-transition: 1.5s ease;
}
#services .services_slide:nth-child(6n+1) {
  top: 0;
  transition: 1s ease;
  -webkit-transition: 1s ease;
}
#services .services_slide:nth-child(6n+3) {
  margin-top: 400px;
  transition: 1.8s ease;
  -webkit-transition: 1.8s ease;
}
#services .services_slide:nth-child(6n+4) {
  margin-top: 400px;
  transition: 1.3s ease;
  -webkit-transition: 1.3s ease;
}
#services .services_slide:nth-child(6n+6) {
  top: 0;
  transition: 1.8s ease;
  -webkit-transition: 1.8s ease;
}
#services .slick-active {
  left: 0 !important;
}
#services .slick-arrow {
  background-color: #818b9b;
}
#services .slick-arrow:hover {
  background-color: #33ffff;
}
#services .slick-arrow:hover::before {
  color: #fff;
}
#services .slick-prev {
  bottom: 93%;
  z-index: 2;
}
#services .client {
  border: 7px solid #000;
  transition: ease-out 1s;
  -webkit-transition: ease-out 1s;
}
#services .client:hover {
  background-color: #000;
  border-color: #33ffff;
  color: #33ffff;
}
#services .client:hover h5 {
  color: #33ffff;
}
#services .border_half_top,
#services .border_half_bottom {
  width: 50%;
  height: 5%;
}
#services .border_half_left,
#services .border_half_right {
  width: 5%;
  height: 50%;
}
#services .border_half_top,
#services .border_half_left {
  top: -8px;
  left: -10px;
}
#services .border_half_bottom,
#services .border_half_right {
  bottom: -7px;
  right: -10px;
}
/******* FOOTER *********/
#footer {
  padding: 250px 30px 10px 30px;
  background-color: #000;
}
#footer h3 {
  color: #33ffff;
}
.contact_wrapper {
  overflow: hidden;
}
.contact_wrapper h4 {
  color: #33ffff;
}
.contact_content {
  overflow: hidden;
  transition: 2s ease;
  -webkit-transition: 2s ease;
}
#js_contact_form input,
.comment_form input,
#js_contact_form textarea,
.comment_form textarea {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #33ffff;
  color: #33ffff;
  height: 50px;
  font-size: 1.6em;
  transition: 1.5s ease;
}
#js_contact_form input::placeholder,
.comment_form input::placeholder,
#js_contact_form textarea::placeholder,
.comment_form textarea::placeholder {
  color: #33ffff;
}
#js_contact_form input::-webkit-input-placeholder,
.comment_form input::-webkit-input-placeholder,
#js_contact_form textarea::-webkit-input-placeholder,
.comment_form textarea::-webkit-input-placeholder {
  color: #33ffff;
}
#js_contact_form .error,
.comment_form .error {
  color: red;
}
.js-send_msg {
  color: #33ffff;
  font-size: 1.1em;
  margin-top: 70px;
  border: 2px solid #33ffff;
  transition: ease-out 1s;
  -webkit-transition: ease-out 1s;
}
.js-send_msg:hover {
  border: 2px solid #818b9b;
  color: #818b9b;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
}
#find_me {
  transition: 2s ease;
  -webkit-transition: 2s ease;
  top: -100%;
}
#address span,
#address a {
  color: #33ffff;
  font-size: 1.3em;
  height: 60px;
}
#address span::before,
#address a::before {
  font-family: "FontAwesome";
  padding-right: 10px;
  font-size: 1.2em;
  color: #33ffff;
}
#address .street::before {
  content: "\f041";
}
#address .mail::before {
  content: "\f003";
}
#address .tel::before {
  content: "\f10b";
}
.social_network i {
  color: #33ffff;
  cursor: pointer;
}
.social_network i:hover {
  color: #818b9b;
}
.copyrights {
  color: #33ffff;
}
#js-button_on_top {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 50px;
  border-color: transparent;
  margin-top: 150px;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  transition: 1s cubic-bezier(0.9, 0.8, 0.7, 0.9);
  -webkit-transition: 1s cubic-bezier(0.9, 0.8, 0.7, 0.9);
}
#js-button_on_top:hover {
  border-color: transparent transparent #33ffff transparent;
}
#js-button_on_top:hover .triangle {
  border-color: transparent transparent #33ffff transparent;
}
.triangle_wrapper,
.triangle,
.triangle_inner {
  width: 0;
  height: 0;
  border-style: solid;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
.triangle_wrapper {
  border-width: 0 40px 40px 40px;
  border-color: transparent transparent #000 transparent;
}
.triangle {
  border-width: 0 30px 30px 30px;
  border-color: transparent transparent #fff transparent;
}
.triangle_inner {
  border-width: 0 30px 30px 30px;
  border-color: transparent transparent #000 transparent;
}
/******* LOADER *********/
.loader_wrapper {
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
  background-color: #818b9b;
  left: 0;
}
.loader {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #818b9b;
}
.loader img,
.loader span {
  color: #33ffff;
}
.loader span {
  font-size: 1.5em;
}
/******* SCROLLING BUTTONS *********/
.scrolling {
  right: 3%;
  top: 50%;
  transform: translate(0, -50%);
}
.scrolling li:hover span {
  display: block;
}
.scrolling button {
  width: 15px;
  height: 15px;
  background: #818b9b;
  border: 2px solid #33ffff;
  border-radius: 50%;
  cursor: pointer;
}
.scrolling button:hover {
  background: #33ffff;
}
.scrolling span {
  line-height: .8em;
  font-size: 1.1em;
  color: #33ffff;
  background-color: #818b9b;
  border: 1px solid #33ffff;
  transition: 1.2s ease;
  -webkit-transition: 1.2s ease;
  display: none;
}
/******** BLOG PAGE  *********/
.blog_header {
  background: url("../img/Blog_header.jpg");
  background-position: center;
}
.blog_header h1 {
  font-size: 3em;
}
.blog_content p {
  font-size: 1.2em;
}
.blog_content a {
  background-color: #000;
  border: 2px solid #33ffff;
  color: #33ffff;
  font-size: 1.2em;
}
.blog_content a:hover {
  background-color: #818b9b;
}
.blog_title h3 {
  border-left: 5px solid #000;
}
.blog_title span {
  height: 5px;
  width: 10%;
  background-color: #33ffff;
  display: block;
}
.comment_list li {
  font-size: 1.4em;
  line-height: 15px;
}
.comment_list li:first-child,
.comment_list li:nth-child(2) {
  border-right: 2px solid #000;
}
.comment_list li:last-child {
  color: #33ffff;
}
/******** SINGLE POST PAGE  *********/
.comment_content {
  font-size: 1.4em;
}
.comment_content span:first-child {
  color: #33ffff;
}
.comment_content .reply_btn {
  background-color: #000;
  border: 2px solid #33ffff;
  color: #33ffff;
  font-size: 1em;
}
.comment_content .reply_btn:hover {
  background-color: #818b9b;
}
.comment_form input::placeholder {
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
}
.comment_form button {
  color: #33ffff;
  font-size: 1.3em;
  margin-top: 60px;
  border: 2px solid #33ffff;
  transition: ease-out 1s;
  -webkit-transition: ease-out 1s;
  background-color: #000;
}
.comment_form button:hover {
  border: 2px solid #fff;
  color: #fff;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.1);
}
/******** SIDEBAR  *********/
.categories li,
.archives li {
  font-size: 1.4em;
}
.categories .num,
.archives .num {
  background-color: #000;
  color: #33ffff;
}
.recent_post h5 {
  font-size: 1.3em;
  border-bottom: 3px solid #33ffff;
}
.tag_clouds li {
  font-size: 1.3em;
  border: 2px solid #818b9b;
  cursor: pointer;
}
.tag_clouds li a {
  color: #000;
}
.tag_clouds li:hover {
  background-color: #33ffff;
}
/******** RESPONSIVE DESIGN  *********/
@media (max-width: 1200px) {
  .testimonial_slider_wrapper {
    margin: 0;
  }
  .testimonial_slider_wrapper .testimonial_slide:nth-child(4n+3) {
    margin-left: -55px;
  }
  .testimonial_slider_wrapper .testimonial_slide:nth-child(6n+4) {
    margin-left: -25px;
    margin-top: 200px;
  }
  .testimonial_slider_wrapper .testimonial_slide:nth-child(6n+5) {
    margin-top: 200px;
    margin-left: -85px;
  }
  .testimonial_slider_wrapper .testimonial_slide:nth-child(6n+6) {
    margin-top: 0;
    margin-left: -55px;
  }
  .testimonial_slider_wrapper .testimonial_slide:nth-child(6n+7) {
    margin-top: 0;
  }
  .testimonial_slider_wrapper .testimonial_slide:nth-child(6n+8) {
    margin-top: 200px;
    margin-left: -25px;
  }
  .testimonial_slider_wrapper .testimonial_slide:nth-child(6n+8) .testimonial_description {
    margin-left: 0;
  }
  .testimonial_slider_wrapper .testimonial_slide:nth-child(6n+9) {
    margin-left: 0;
  }
  .testimonial_slider_wrapper .testimonial_slide:nth-child(6n+9) .testimonial_description {
    margin-left: 70px;
  }
  .testimonial_slider_wrapper .testimonial_slide:nth-child(3n+4) {
    left: 0;
  }
  .testimonial_slider_wrapper .testimonial_slide:nth-child(2n+2) {
    transition: 1.2s ease;
    -webkit-transition: 1.2s ease;
    right: -100%;
  }
  .testimonial_slider_wrapper .testimonial_slide:nth-child(2n+3) {
    transition: 1.5s ease;
    -webkit-transition: 1.5s ease;
    left: -100%;
  }
  .testimonial_slider_wrapper .slick-arrow {
    bottom: 0;
  }
  .testimonial_slider_wrapper .slick-active:nth-child(3n+6) {
    right: 0 !important;
  }
  .testimonial_slider_wrapper .slick-active:nth-child(2n+2) {
    right: 0 !important;
  }
  #services_slider .services_slide {
    margin-top: 0 !important;
  }
  #services_slider .slick-prev {
    bottom: 0;
  }
}
@media (max-width: 1140px) {
  .recent_post > div:last-child {
    padding: 10px 0 0 !important;
  }
}
@media (max-width: 768px) {
  .about_me_container > div {
    padding: 15px 0 !important;
  }
  .filter_rooms {
    display: flex;
    justify-content: center;
  }
  .filter_rooms li {
    margin: 10px;
    float: left;
  }
  .line_horizontal {
    bottom: 15px;
  }
  .line_horizontal_left {
    left: 25%;
  }
  .line_horizontal_right {
    right: 25%;
  }
}
@media (max-width: 1000px) {
  .testimonial_slide {
    margin: 0  10px!important;
  }
  .testimonial_slide > div {
    margin: 0 auto;
  }
  .testimonial_slide > div:last-child {
    float: none !important;
  }
  .testimonial_slide .testimonial_description {
    text-align: center;
  }
  .corner_left {
    border-width: 200px 0 0 480px;
  }
  .corner_right {
    border-width: 0 0 200px 480px;
  }
}
@media (max-width: 780px) {
  #header .js_filter_btn {
    display: block;
  }
  #nav_menu {
    position: absolute;
    right: 0;
    top: 100%;
    padding: 0 !important;
    display: none;
  }
  #nav_menu li {
    float: none !important;
    margin: 5px 0;
  }
  #services_slider {
    max-height: 700px;
  }
  #services_slider .services_slide {
    left: 0;
    transition: .5s ease;
    margin-top: 0 !important;
  }
  #services_slider .services_slide .client_img {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  #my_work .js_filter_btn {
    display: block;
  }
  .filter_rooms {
    display: none;
    position: absolute;
    right: 0;
    background-color: #000;
    z-index: 2;
  }
  .filter_rooms li {
    margin: 10px;
    float: none;
  }
  .work_process_container .process_description {
    padding: 20px 0;
  }
  .work_process_container .work_process {
    display: block !important;
  }
  .line_horizontal {
    bottom: 15px;
    left: 0;
  }
  .comment_list li {
    float: none !important;
    padding: 5px 0 !important;
    border-right: none !important;
  }
}
@media (max-width: 500px) {
  .corner_left {
    border-width: 200px 0 0 240px;
  }
  .corner_right {
    border-width: 0 0 200px 240px;
  }
}
@media (max-width: 440px) {
  #person_name h1 {
    font-size: 3.5em;
  }
  #person_name h2 {
    font-size: 2.2em;
  }
  #person_name span {
    font-size: 2em;
  }
  .here_me {
    font-size: 1.8em;
  }
  .work_process_container {
    padding: 0 !important;
  }
  #footer > div {
    padding: 0;
  }
}
/****** FOR EDGE ********/
@supports (-ms-ime-align:auto) {
  .line_horizontal_left {
    left: 28.1%;
  }
  .line_horizontal_right {
    right: -18.3%;
  }
  .hexagon_container > div {
    margin: 0;
  }
  .hex_center {
    position: relative;
  }
}
/****** FOR IE ********/
@media all and (-ms-high-contrast: none) {
  .line_horizontal_left {
    left: 28.1%;
  }
  .line_horizontal_right {
    right: -18.3%;
  }
  .hexagon_container > div {
    margin: 0;
  }
  .hex_center {
    top: 0;
    position: relative;
  }
}
